
.description-top {
  display: flex;
  flex-direction: column;
  width: 375px;
  margin: 0 auto;


  background-color: #172755;
}

// .description-top__image {
  // margin: 0 auto;
// }

.description-top__description-wrapper {
  width: 335px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.description-top__head-description {
  font-size: 31px;
  line-height: 120%;
  color: #FFFFFF;
}

.description-top__text-description {
  font-size: 18px;
  line-height: 150%;
}

.description-top__decstop-text {
  display: none;
}

.description-top__button {
  // margin: 0 auto;
  height: 50px;
  border: none;
  background-color: #EF2A82;
  border-radius: 68px;
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.description-top__button:hover {
  cursor: pointer;
}

@media (min-width: 1200px) {
  .description-top {
    flex-direction: row;
    width: 1500px;

    // position: relative;
    // left: 160px;
  }

  .description-top__description-wrapper {
    // position: relative;
    // left: 200px;
    // order: 1;
    width: 550px;
    margin: 0;

  }

  .description-top__image {
    order: 2;
    width: 873px;
    height: 555px;
    // position: relative;
    // left: 900px;
  }

}