
.nav__button-burger {
  background-color: #172755;
  width: 30px;
  height: 30px;
  border: none;
  padding: 0;
}

.nav__button-burger:hover {
  cursor: pointer;
} 

.nav__img-button {
  color: #8794BA;
  width: 30px;
  height: 30px;
}

.nav__menu {
  display: none;
}

@media (min-width: 1200px) {
  .nav {
    order: 1;
  }

  .nav__menu {
    display: flex;
    list-style-type: none;
  }

  .nav__item {
    margin-right: 35px;
  }

  .nav__item:hover {
    cursor: pointer;
  }

  .nav__button-burger {
    display: none;
  }

}