
.nav__button-burger {
    background-color: #172755;
    width: 30px;
    height: 30px;
    border: none;
    padding: 0;
}

.nav__button-burger:hover {
    cursor: pointer;
} 

.nav__img-button {
    color: #8794BA;
    width: 30px;
    height: 30px;
}