@import 'header';
@import 'nav';
@import 'description-top';

@font-face { 
  font-family: 'робото'; 
  font-display: swap; 
  src: url('../fonts/Roboto/Roboto-Regular.ttf');
  font-weight: 400; 
  font-style: normal; 
} 

body {
  font-family: 'робото', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: #8794BA;
  font-size: 16px;
  line-height: 19px;
  min-width: 375px;

  // background-image: url('../image/background-top.png');
  // background-repeat: no-repeat;
}

.wrapper-top {
  background-color: #172755;
}

.wrapper-top__wrapper-nav {
  display: flex;
  align-items:center 
}

.wrapper-top__button-sign {
  margin-bottom: 10px;
  margin-right: 15px;
  padding: 0;
  background-color: #172755;
  border: none;
  color: #8794BA;

}

.wrapper-top__button-sign:hover {
    cursor: pointer;
  }

.wrapper-top__button-sign-up {
  display: none;
}

.wrapper-top__button-sign-up:hover {
    cursor: pointer;
  }

.wrapper-top__wrapper-item {
  margin: 0 auto;
  padding: 0;
  display: flex;
  width: 335px;
  height: 70px;
  justify-content: space-between;
  align-items:center 
}

@media (min-width: 1200px) {

  .wrapper-top__wrapper-nav {
    width: 920px;
    justify-content: space-between;
  }

  .wrapper-top__wrapper-item {
    width: 1180px;
    padding-top: 40px;
    
  }

  .wrapper-top__wrapper-button {
    order: 2;
    display: flex;
  }

  .wrapper-top__button-sign {
    margin: 0;
    width: 160px;
    height: 40px;
  }

  .wrapper-top__button-sign-up {
    display: block;
    background-color: #172755;
    border: 1px solid #8794BA;
    color: #8794BA;
    width: 160px;
    height: 40px;
    border-radius: 68px;
    
  }

}