@import 'header';
@import 'nav';

@font-face { 
    font-family: 'робото'; 
    font-display: swap; 
    src: url('../fonts/Roboto/Roboto-Regular.ttf');
    font-weight: 400; 
    font-style: normal; 
} 

body {
    font-family: 'робото', sans-serif;
    font-style: normal;
    font-weight: 400;
    color: #8794BA;
}

.wrapper-top {
    background-color: #172755;
}

.wrapper-top__wrapper-nav {
    display: flex;
    align-items:center 
}

.wrapper-top__button-sign {
    font-size: 16px;
    line-height: 19px;
    margin-right: 20px;
    margin-bottom: 4px;
}

.wrapper-top__wrapper-item {
    margin: 0 auto;
    padding: 0;
    display: flex;
    width: 335px;
    height: 70px;
    justify-content: space-between;
    align-items:center 
}